</div>
</section>
<script src="assetAdmin/js/jquery-3.2.1.min.js"></script>

<script src="assetAdmin/js/popper.min.js"></script>
<script src="assetAdmin/js/bootstrap.min.js"></script>
<script src="assetAdmin/js/jquery.slimscroll.min.js"></script>
<script src="assetAdmin/js/slidebars.min.js"></script>

<script src="assetAdmin/js/jquery.app.js"></script>



</body>

</html>